*{
    text-align: center;
    padding-top: 10px;
}
body{
    background-color: rgb(46, 124, 193);
}
    h1{
    color:rgb(255, 255, 0);
}
#userinput{
    width: 350px;
    margin-bottom: 15px;
    padding: 10px;
    text-align: start;
}
button{
    background-color: rgb(56, 181, 56);
    color: white;
    width: 100px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 5px;
}
